.resultsContainer {
  text-align: center;
  background-color: #e2ddba;
  padding: 20px;
  margin: 20px;
}

.resultsContainer h2 {
  color: var(--color-dark-gray);
  margin: 0 0 0.3em;
}

.resultSubheader {
  font-weight: 600;
  margin: 0.3em;
}
