.line {
  display: flex;
  align-items: center;
}

.line > * {
  margin-right: 5px;
}

.count {
  color: var(--color-green);
  font-weight: 600;
}

.icon {
  background-color: var(--color-bg-light);
  border: 2px solid var(--color-bright-green);
  border-radius: 10px;
}

.pieceDrops {
  color: var(--color-green);
  font-size: 0.8em;
  font-weight: bold;
}

.required {
  color: var(--color-scarlet);
}
