.resultsContainer {
  text-align: center;
  background-color: #e2ddba;
  padding: 20px;
  max-width: 600px;
  min-width: 50%;
}

.resultsContainer h2 {
  color: #1d261a;
  margin: 0 0 0.3em;
}

.resultSubheader {
  font-weight: 600;
  margin: 0.3em;
}
