body {
  margin: 0;
  color: #1d261a;
  background-color: #f3f1e0;
  font-family: sans-serif;

  --color-dark-gray: #1d261a;
  --color-bg-light: #f3f1e0;
  --color-bright-green: #bdf7ab;
  --color-green: #7ba06e;
  --color-scarlet: #db280b;
  --color-gray: #797c78;
}

header {
  text-align: center;
}

h1 {
  position: relative;
  display: inline-block;
  margin-top: 0;
}

header h2 {
  margin-bottom: 0;
}

#title-tag {
  color: var(--color-scarlet);
  text-transform: uppercase;
  position: absolute;
  bottom: -0.6em;
  right: -0.5em;
  font-size: 0.5em;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  margin: rem(15px) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: min(640px, 95vw);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.sectionHeader2 {
  width: 100%;
  border-bottom: rem(2px) solid #888653;
  line-height: 0.1em;
  margin: rem(8px) 0 rem(16px);
}

h2.sectionHeader2 span {
  margin: 0 0 0 rem(8px);
  background-color: var(--color-bg-light);
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2 {
  color: #888653;
  font-style: italic;
}

h3 {
  font-size: rem(8px);
}

section.links {
  display: block;
}

.links svg {
  height: rem(8px);
  stroke: #1d261a;
}
